@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');

@font-face {
  font-family: Pokemon Hollow;
  src: url(assets/PokemonHollow.ttf);
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 15px Pokemon Hollow;
  color: #503B84;
  margin-bottom: 10px;
  background-color: #C9C3DB;
  border-radius: 30%;
  box-shadow: inset 0px 0px 10px 0px #AFA9C4;
}

.layout {
  width: 650px;
  height: 350px;
  border-radius: 12% 12% 35% 35%;
  display: flex;
  justify-content: center;
  background-color: #C9C3DB;
  border: solid 2px #AFA9C4;
}

.layout-game {
  width: 650px;
  height: 350px;
  border: solid 5px #48347C;
  border-radius: 20% 20% 35% 35%;
  display: flex;
  justify-content: center;
  background-color: #503B84;
  box-shadow: #18161F 10px 7px 10px 0px;
}


.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nintendo-logo {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nintendo {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-screen{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12% 12% 45% 45%;
  border: solid 5px black;
  background-color: black;
}


.screen-layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 300px;
  border: solid 5px grey;
  background-color: grey;
  border-radius: 5%;
  margin: 10px;
}


.brand-name {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 70%;
  height: auto;
}

.right-part {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-part {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider {
  width: 10%;
  height: 100px;
  background-color: #503B84;
}

.start-select {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  font: 20px 'Tac One';
  gap: 15px;
}

.start {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 60px;
  height: 17px;
  color: #48347C;
  background-color: #503B84;
  border: solid 2px #48347C;
  border-radius: 30%;
  font: 20px 'Tac One';
  padding-right: 5px;
  rotate: 30deg;
  gap: 3.5px;
}

.start-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #C9C3DB;
  border: solid 2px #AFA9C4;
  right: 10px;
}

.select {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 60px;
  height: 17px;
  color: #48347C;
  background-color: #503B84;
  border: solid 2px #48347C;
  border-radius: 30%;
  font: 20px 'Tac One';
  padding-right: 5px;
  rotate: 30deg;
  gap: 3.5px;
}

.select-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #C9C3DB;
  border: solid 2px #AFA9C4;
  right: 10px;
}

.select-button:hover,
.start-button:hover {
  background-color: #AFA9C4;
  color: #C9C3DB;
}

.letter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.B {
  font: 25px 'Tac One';
  color: #AFA9C4;
  background-color: #C9C3DB;
  border-radius: 50%;
  border: solid 2px #AFA9C4;
  width: 50px;
  height: 50px;
}

.A {
  font: 25px 'Tac One';
  color: #AFA9C4;
  background-color: #C9C3DB;
  border-radius: 50%;
  border: solid 2px #AFA9C4;
  width: 50px;
  height: 50px;
  margin-top: 70%;
}

.A:hover,
.B:hover {
  background-color: #AFA9C4;
  color: #C9C3DB;
}

.cross {
  display: flex;
  flex-direction: row;
  width: 75px;
  height: 75px;
}

.cross-middle {
  display: flex;
  flex-direction: column;
}
.cross-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cross-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.up {
  background-color: #C9C3DB;
  width: 25px;
  height: 25px;
  border: black solid 2px;
  border-bottom: #C9C3DB solid 2px;
  border-left:  #AFA9C4 solid 2px;
  border-right: #AFA9C4 solid 2px;
  border-top:  #AFA9C4 solid 2px;
  border-radius: 30% 30% 0% 0%;
}

.left {
  background-color: #C9C3DB;
  width: 25px;
  height: 25px;
  border: black solid 2px;
  border-bottom: #AFA9C4 solid 2px;
  border-left:  #AFA9C4 solid 2px;
  border-right: #C9C3DB solid 2px;
  border-top:  #AFA9C4 solid 2px;
  border-radius: 30% 0% 0% 30%;
}

.right {
  background-color: #C9C3DB;
  width: 25px;
  height: 25px;
  border: black solid 2px;
  border-bottom: #AFA9C4 solid 2px;
  border-left:  #C9C3DB solid 2px;
  border-right: #AFA9C4 solid 2px;
  border-top:  #AFA9C4 solid 2px;
  border-radius: 0% 30% 30% 0%;
}

.down {
  background-color: #C9C3DB;
  width: 25px;
  height: 25px;
  border-bottom: #AFA9C4 solid 2px;
  border-left:  #AFA9C4 solid 2px;
  border-right: #AFA9C4 solid 2px;
  border-top:  #C9C3DB solid 2px;
  border-radius: 0% 0% 30% 30%;
}

.middle {
  background-color: #C9C3DB;
  width: 25px;
  height: 25px;
  border: #C9C3DB solid 2px;
}

.up:hover,
.left:hover,
.right:hover,
.down:hover
{
  background-color: #AFA9C4;
  color: #C9C3DB;
}


.power {
  height: 100px;
  width: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.power-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  border: solid 2px black;
}



.power-button:hover {
  background-color: gray;
}
