.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column ;
  align-items: center;
  background-color: wheat;
  width: 1500px;
  height: 650px;
}


.layout {
  width: 800px;
  height: 350px;
  border-radius: 12% 12% 17% 17%;
  display: flex;
  justify-content: center;
  background-color: white;
  border: solid 2px black;
}

.layout-game {
  width: 800px;
  height: 350px;
  border: solid 5px black;
  border-radius: 20% 20% 17% 17%;
  display: flex;
  justify-content: center;
  background-color: blue;
}

.container-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: solid 5px black;
  background-color: black;
  border-radius: 5%;
  margin: 10px;
}

.right-buttons {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-buttons {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.B {
  background-color: red;
  border-radius: 50%;
  border: solid 2px black;
  width: 50px;
  height: 50px;
}

.A {
  background-color: blue;
  border-radius: 50%;
  border: solid 2px black;
  width: 50px;
  height: 50px;
  margin-top: 70%;
}

.cross {
  display: flex;
  flex-direction: row;
}

.cross-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.up {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.left {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.right {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.down {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}



