

.BattleContainer {
    display: flex;
    flex-direction: column;
    width: 309px;
    height: 180px;
    border-radius: 5%;
    background-image: url("../assets/battle-screen.jpg");
    background-size: cover;

}

.enemy{
    width: 309px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 7px;
    color: white;
}

.player{
    width: 309px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 7px;
    color: white;
}

.enemy-health{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100%;
}

.player-health{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100%;
}

.enemy-image {
    height: 100%;
}